* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

$BlueColor: #467fd0;
$LightBlueColor: #69d2f1;

$GreenColor: #42ba96;
$TealColor: #20c997;

$PurpleColor: #7c69ef;

$CyanColor: #17a2b8;

$Gray200Color: #f1f4f8;
$Gray300Color: #d9e2ef;
$Gray400Color: #c6d3e6;
$Gray500Color: #abbcd5;
$Gray600Color: #869ab8;
$Gray700Color: #506690;
$Gray800Color: #384c74;
$Gray900Color: #1b2a4e;

$BlackDarkColor: #161c2d;
